/* Main stylesheet for this project */
html {
    min-width: 250px;
}

body {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: 'Clicker Script', cursive;
    font-size: 5rem;
    letter-spacing: -1.5px;
    margin: 10px;
}

.item img {
    width: 100vw;
    height: 100vh;
    position: static
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row-buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.item

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column-popUp {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border-radius: 0.75rem;
}

/* Card styling */
.popup-card {
    border-radius: 1rem;
    background-color: rgb(197, 199, 201);
}

.popup-info {
    padding: 40px 40px 30px 40px;
    /* border-color: #000000;
    border-style: solid;
    border-radius: 1rem; */

}


/* Text/font styling */
h3 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 650;
    text-decoration: underline;
}

p {
    font-size: 16px;
    font-weight: 350;
    font-family: 'Manrope', sans-serif;
}

h3,
p {
    text-align: center;
}


/* Button styling */
.popup-btns button {
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    border: 1px solid rgb(197, 199, 201);
    /* border-left: 1px solid rgb(197, 199, 201); */
    padding: 20px 16px;
    cursor: pointer;
    float: left;
    width: 50%;
}

.popup-btns button:not(:last-child) {
    border-left: none;
}

.popup-btns button:hover {
    background-color: rgb(240, 224, 224);
}

.popup-btns button:active {
    background-color: rgb(235, 217, 217);
}

.row-buttons{

}

/* Custom theme buttons */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(219, 198, 2);
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
    transform: translateX(1.5em);
}

.slider::after {
    width: 20px;
    height: 20px;
    left: 20%;
    top: 10%;
    border-radius: 50%;
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    transition: ease 0.4s;
}

input:checked+.slider::after {
    left: 80%;
    width: 0px;
    height: 0px;
}

/* OTHER BUTTONS */